<header class="header_area nav-down">
    <nav class="navbar navbar-expand-lg menu_one menu_four menu_poss menu_scroll">
        <div class="container">
            <a class="navbar-brand sticky_logo" href="/" title="logo">
        <img src="/assets/img/Logo 2.svg" alt="logo2">
        <img src="/assets/img/Logo 2.svg" alt="logo"></a>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="menu_toggle">
            <span class="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </span>
            <span class="hamburger-cross">
                <span></span>
                <span></span>
            </span>
        </span>
    </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav menu w_menu ml-auto mr-auto">
                    <li class="nav-item home_link">
                        <a class="nav-link" href="/" role="button" title="Home">
                    Home
                </a>
                    </li>
                    <!-- <li class="nav-item active"> -->

                  <!--  <li class="dropdown submenu nav-item products_link">
                        <a class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="/#" title="Products">Products</a>
                        <ul role="menu" class="dropdown-menu">
                            <li class="dropdown submenu nav-item">
                                <a title="Food Ordering Apps" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="/#">
                            <i>
                                <img src="/assets/img/menu/ic_08.png" alt="Verbose Techlabs Food Ordering Apps">
                            </i> Food Ordering Apps
                            <span class="arrow_carrot-right"></span> </a>

                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a title="hungerz-restaurant-management-with-food-ordering-app" class="nav-link" href="/hungerz-restaurant-management-with-food-ordering-app">
                                    <i>
                                        <img src="/assets/img/menu/app_icon/Hungerz.png" alt="Verbose Techlabs Hungerz">
                                    </i> <span>Hungerz<small>Restaurant management with Food Ordering App (16 Apps)</small></span>
                                </a>
                                    </li>
                                    <li class="nav-item">
                                        <a title="foodoz-food-ordering-with-delivery-app" class="nav-link" href="/foodoz-food-ordering-with-delivery-app">
                                    <i>
                                        <img src="/assets/img/menu/app_icon/Foodoz.png" alt="Verbose Techlabs Foodoz">
                                    </i>
                                    <span>Foodoz<small>Food Ordering with Delivery App (7 Apps)</small></span>
                                </a>
                                    </li>
                                    <li class="nav-item">
                                        <a title="foodmall-wordPress-based-food-ordering-app" class="nav-link" href="/foodmall-wordPress-based-food-ordering-app">
                                    <i>
                                        <img src="/assets/img/menu/app_icon/Foodmall.png" alt="Verbose Techlabs Foodmall">
                                    </i>
                                    <span>Foodmall<small>WordPress based Food Ordering App (7 Apps)</small></span>
                                </a>
                                    </li>
                                </ul>
                            </li>


                            <li class="dropdown submenu nav-item">
                                <a title="eCommerce & Grocery Apps" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="/#">
                            <i>
                                <img src="/assets/img/menu/ic_04.png" alt="Verbose Techlabs eCommerce, Grocery & Delivery Apps">
                            </i>eCommerce, Grocery & Delivery Apps
                            <span class="arrow_carrot-right"></span> </a>

                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a title="shopHour-custom-ecommerce-app" class="nav-link" href="/delivoo-all-in-1-delivery-app">
                                    <i>
                                        <img src="/assets/img/menu/app_icon/Delivoo.png" alt="Verbose Techlabs Delivoo">
                                    </i>
                                    <span>Delivoo<small>All in 1 Delivery App (7 Apps)</small></span>
                                </a>
                                    </li>
                                    <li class="nav-item">
                                        <a title="shopHour-custom-ecommerce-app" class="nav-link" href="/courierOne-peer-to-peer-delivery-app">
                                    <i>
                                        <img src="/assets/img/menu/app_icon/CourierOne.png" alt="Verbose Techlabs CourierOne">
                                    </i>
                                    <span>CourierOne<small>Peer to peer delivery App (5 Apps)</small></span>
                                </a>
                                    </li>
                                    <li class="nav-item">
                                        <a title="shopHour-custom-ecommerce-app" class="nav-link" href="/shopHour-custom-ecommerce-app">
                                    <i>
                                        <img src="/assets/img/menu/app_icon/shophour.png" alt="Verbose Techlabs ShopHour">
                                    </i>
                                    <span>ShopHour<small>Custom eCommerce App (7 Apps)</small></span>
                                </a>
                                    </li>
                                    <li class="nav-item">
                                        <a title="shopHour-custom-ecommerce-app" class="nav-link" href="/groshop-grocery-with-delivery-app">
                                    <i>
                                        <img src="/assets/img/menu/app_icon/Groshop.png" alt="Verbose Techlabs Groshop">
                                    </i>
                                    <span>Groshop<small>Custom Grocery Ordering App (7 Apps)</small></span>
                                </a>
                                    </li>
                                    <li class="nav-item">
                                        <a title="mobimall-wordPress-based-eCommerce-app" class="nav-link" href="/mobimall-wordPress-based-eCommerce-app">
                                    <i>
                                        <img src="/assets/img/menu/app_icon/mobimall.png" alt="Verbose Techlabs Mobimall">
                                    </i>
                                    <span>Mobimall<small>WordPress based eCommerce App (5
                                            Apps)</small></span>
                                </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/grocer-custom-grocery-ordering-app" title="grocer-custom-grocery-ordering-app">
                                    <i>
                                        <img src="/assets/img/menu/app_icon/Grocer.png" alt="Verbose Techlabs Grocer">
                                    </i>
                                    <span>Grocer<small>Wordpress Based Grocery with Delivery App (7 Apps)</small></span>
                                </a>
                                    </li>
                                </ul>
                            </li>

                            <li class="dropdown submenu nav-item">
                                <a class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="/#" title="Laundry Service Apps">
                            <i>
                                <img src="/assets/img/menu/ic_menu_laundry.png" alt="Verbose Techlabs Laundry">
                            </i> Laundry Service Apps
                            <span class="arrow_carrot-right"></span> </a>

                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a class="nav-link" href="/anywash-laundry-with-delivery-app" title="anywash-laundry-with-delivery-app">
                                    <i>
                                        <img src="/assets/img/menu/app_icon/AnyWash.png" alt="Verbose Techlabs Anywash">
                                    </i>
                                    <span>Anywash <small>Custom Laundry with Delivery App (7 Apps)</small></span>
                                </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/laundry-custom-laundry-delivery-app" title="laundry-custom-laundry-delivery-app">
                                    <i>
                                        <img src="/assets/img/menu/app_icon/Laundry.png" alt="Verbose Techlabs Laundry">
                                    </i>
                                    <span>Quickwash <small>Wordpress Based Laundry App (7 Apps)</small></span>
                                </a>
                                    </li>
                                </ul>
                            </li>

                            <li class="dropdown submenu nav-item">
                                <a class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="/#" title="Cab booking & Tracking Cab booking">
                            <i>
                                <img src="/assets/img/menu/ic_03.png" alt="Verbose Techlabs LLP">
                            </i>Cab booking & Ride Sharing Apps
                            <span class="arrow_carrot-right"></span> </a>

                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a class="nav-link" href="/qcabs-cab-booking-app" title="qcabs-cab-booking-app">
                                    <i>
                                        <img src="/assets/img/menu/app_icon/Qcab.png" alt="Verbose Techlabs Qcabs">
                                    </i>
                                    <span>Qcabs<small>Cab Booking App (5 Apps)</small></span>
                                </a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" href="/gopool-car-bike-pooling-app" title="bus-tracking-App">
                                    <i>
                                        <img src="/assets/img/menu/app_icon/gopoll.png" alt="Verbose Techlabs Gopool">
                                    </i>
                                    <span>Gopool<small>Car & Bike Pooling App</small></span>
                                </a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" href="/vroom-car-pooling-app" title="vroom-car-pooling-app">
                                    <i>
                                        <img src="/assets/img/menu/app_icon/Vroom.png" alt="Verbose Techlabs Vroom">
                                    </i>
                                    <span>Vroom <small> Car Pooling App (5 Apps)</small></span>
                                </a>
                                    </li>
                                </ul>
                            </li>


                            <li class="dropdown submenu nav-item">
                                <a class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="/#" title="Social Media Social Media">
                            <i>
                                <img src="/assets/img/menu/ic_menu_dating.png" alt="Verbose Techlabs LLP">
                            </i> Dating, Chatting, Social Media Apps
                            <span class="arrow_carrot-right"></span> </a>

                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a class="nav-link" href="/qvid-video-creating-sharing-app" title="qvid-video-creating-sharing-app">
                                    <i>
                                        <img src="/assets/img/menu/app_icon/Qvid.png" alt="Verbose Techlabs Qvid">
                                    </i>
                                    <span>Qvid <small>Video Creating & Sharing App</small></span>
                                </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/shareworld-social-post-video-sharing-app" title="shareworld-social-post-video-sharing-app">
                                    <i>
                                        <img src="/assets/img/menu/app_icon/Shareworld.png" alt="Verbose Techlabs Shareworld">
                                    </i>
                                    <span>Shareworld <small>Social Post & Video Sharing App</small></span>
                                </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/destino-online-dating-chatting-app" title="destino-online-dating-chatting-app">
                                    <i>
                                        <img src="/assets/img/menu/app_icon/Destino.png" alt="Verbose Techlabs Destino">
                                    </i>
                                    <span>Destino <small>Online Dating & Chatting App </small></span>
                                </a>
                                    </li>
                                </ul>
                            </li>


                            <li class="dropdown submenu nav-item">
                                <a class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="/#" title="Social Media Social Media">
                            <i>
                                <img src="/assets/img/menu/ic_01.png" alt="Verbose Techlabs LLP">
                            </i> School Apps
                            <span class="arrow_carrot-right"></span> </a>

                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a class="nav-link" href="/school-time-online-classes-and-learning-app" title="qvid-video-creating-sharing-app">
                                    <i>
                                        <img src="/assets/img/menu/app_icon/schoolTime.png" alt="Verbose Techlabs Qvid">
                                    </i>
                                    <span>School time<small> Online class & learning app (5 Apps)</small></span>
                                </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/bus-tracking-App" title="Bus Tracking-social-post-video-sharing-app">
                                    <i>
                                        <img src="/assets/img/menu/app_icon/bus_tracking.png" alt="Verbose Techlabs Shareworld">
                                    </i>
                                    <span>Bus Tracking <small>Tracking App (5 Apps)</small></span>
                                </a>
                                    </li>
                                </ul>
                            </li>

                            <li class="dropdown submenu nav-item">
                        <a class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="/#" title=" Dating & Chatting Apps">
                            <i>
                                <img src="/assets/img/menu/ic_menu_dating.png" alt="Verbose Techlabs Dating & Chatting Apps">
                            </i> Dating & Chatting Apps
                            <span class="arrow_carrot-right"></span> </a>

                        <ul class="dropdown-menu">
                            <li class="nav-item">
                                <a class="nav-link" href="/destino-online-dating-chatting-app" title="destino-online-dating-chatting-app">
                                    <i>
                                        <img src="/assets/img/menu/app_icon/Destino.png" alt="Verbose Techlabs Destino">
                                    </i>
                                    <span>Destino <small>Online Dating & Chatting App </small></span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/woochat-modern-chatting-app-with-Web" title="destino-online-dating-chatting-app">
                                    <i>
                                        <img src="/assets/img/menu/app_icon/Woochat.png" alt="Verbose Techlabs Destino">
                                    </i>
                                    <span>Woochat <small>Modern Chatting App with Web</small></span>
                                </a>
                            </li>
                        </ul>
                    </li> 

                            <li class="dropdown submenu nav-item">
                                <a class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="/#" title="Doctor & Pharmacy Apps">
                            <i>
                                <img src="/assets/img/menu/ic_05.png" alt="Verbose Techlabs  Doctor & Pharmacy Apps">
                            </i> Doctor & Pharmacy Apps
                            <span class="arrow_carrot-right"></span> </a>

                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a class="nav-link" href="/doctoworld-all-in-1-doctor-appointment-app" title="doctoworld-all-in-1-doctor-appointment-app">
                                    <i>
                                        <img src="/assets/img/menu/app_icon/DoctoWorld.png" alt="Verbose Techlabs Doctoworld">
                                    </i>
                                    <span>Doctoworld <small>All in 1 Doctor Appointment App (13 Apps)</small></span>
                                </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/medizone-wordPress-based-pharmacy-ordering-app" title="medizone-wordPress-based-pharmacy-ordering-app">
                                    <i>
                                        <img src="/assets/img/menu/app_icon/Medizone.png" alt="Verbose Techlabs Medizone">
                                    </i>
                                    <span>Medizone <small>WordPress based Pharmacy ordering App (5 Apps)</small></span>
                                </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/dentist-doctor-appointment-booking-app" title="dentist-doctor-appointment-booking-app">
                                    <i>
                                        <img src="/assets/img/menu/app_icon/Dentist.png" alt="Verbose Techlabs Dentist">
                                    </i>
                                    <span>Dentist <small>Doctor Appointment Booking App</small></span>
                                </a>
                                    </li>
                                </ul>
                            </li>

                            <li class="dropdown submenu nav-item">
                                <a class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="/#" title="Service Provider Apps">
                            <i>
                                <img src="/assets/img/menu/ic_09.png" alt="Verbose Techlabs Service Provider Apps">
                            </i> Service Provider Apps
                            <span class="arrow_carrot-right"></span> </a>

                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a class="nav-link" href="/servo-home-service-booking-app" title="handyman-home-service-provider-app">
                                    <i>
                                        <img src="/assets/img/menu/app_icon/servo.png" alt="Verbose Techlabs Handyman">
                                    </i>
                                    <span>Servo <small>Home Service Booking App (5 Apps)</small></span>
                                </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/handyman-home-service-provider-app" title="handyman-home-service-provider-app">
                                    <i>
                                        <img src="/assets/img/menu/app_icon/ic_Handyman.png" alt="Verbose Techlabs Handyman">
                                    </i>
                                    <span>Handyman <small>Home Service Provider App (5 Apps)</small></span>
                                </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/carwash-car-service-booking-app" title="carwash-car-service-booking-app">
                                    <i>
                                        <img src="/assets/img/menu/app_icon/Carwash.png" alt="Verbose Techlabs Carwash">
                                    </i>
                                    <span>Carwash <small>Car Service Booking App</small></span>
                                </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/salon-service-booking-app" title="salon-service-booking-app">
                                    <i>
                                        <img src="/assets/img/menu/app_icon/salon.png" alt="Verbose Techlabs Salon">
                                    </i>
                                    <span>Salon <small>Service Booking App</small></span>
                                </a>
                                    </li>
                                </ul>
                            </li>

                            <li class="dropdown submenu nav-item">
                                <a class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="/#" title="OTT & Music Apps">
                            <i>
                                <img src="/assets/img/menu/ic_menu_ott.png" alt="Verbose Techlabs  OTT & Music Apps">
                            </i> OTT & Music Apps
                            <span class="arrow_carrot-right"></span> </a>

                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a class="nav-link" href="/clipix-movies-web-series-streaming-app" title="clipix-movies-web-series-streaming-app">
                                    <i>
                                        <img src="/assets/img/menu/app_icon/Clipix.png" alt="Verbose Techlabs Clipix">
                                    </i>
                                    <span>Clipix <small>Movies & Web Series Streaming App</small></span>
                                </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/musicvic-music-streaming-app" title="musicvic-music-streaming-app">
                                    <i>
                                        <img src="/assets/img/menu/app_icon/Musicvic.png" alt="Verbose Techlabs Musicvic">
                                    </i>
                                    <span>Musicvic <small>Music Streaming App</small></span>
                                </a>
                                    </li>
                                </ul>
                            </li>

                            <li class="dropdown submenu nav-item">
                                <a class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="/#" title="Other Apps App">
                            <i>
                                <img src="/assets/img/menu/ic_menu_ticket.png" alt="Verbose Techlabs Other Apps App">
                            </i>Other Popular Apps
                            <span class="arrow_carrot-right"></span> </a>

                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a class="nav-link" href="/fantasy-league-sports-app" title="fantasy-league-sports-app">
                                    <i>
                                        <img src="/assets/img/menu/app_icon/fantasy.png" alt="Verbose Techlabs Fantasy 11">
                                    </i>
                                    <span>Fantasy 11<small>Fantasy League Sports App</small></span>
                                </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/dj-mania-dj-event-ticket-booking-app" title="dj-mania-dj-event-ticket-booking-app">
                                    <i>
                                        <img src="/assets/img/menu/app_icon/DJ_Mania.png" alt="Verbose Techlabs  DJ Mania">
                                    </i>
                                    <span>DJ Mania <small>DJ Event Ticket Booking App</small></span>
                                </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/bookspeak-audio-book-app" title="bookspeak-audio-book-app">
                                    <i>
                                        <img src="/assets/img/menu/app_icon/bookspeak.png" alt="Verbose Techlabs Bookspeak">
                                    </i>
                                    <span>Bookspeak <small>Audiobook App</small></span>
                                </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/quizer-modern-quiz-quizer" title="quizer-modern-quiz-quizer" alt="Verbose Techlabs Quizer">
                                    <i>
                                        <img src="/assets/img/menu/app_icon/Quizer.png">
                                    </i>
                                    <span>Quizer <small>Modern Quiz App</small></span>
                                </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/neargo-near-by-places-event-offers-app" title="neargo-near-by-places-event-offers-app">
                                    <i>
                                        <img src="/assets/img/menu/app_icon/ic_NearGo.png" alt="Verbose Techlabs Neargo">
                                    </i>
                                    <span>Neargo <small>Nearby Places, Event & Offer App (5 Apps)</small></span>
                                </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li> -->
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="/portfolio" role="button" title="Our Process">
                            Portfolio
                        </a>
                    </li> -->

                    <li class="nav-item  our_process_link">
                        <a class="nav-link" href="#parent" role="button" title="Our Process">
                    Parent
                </a>
                    </li>
                    <li class="nav-item  partners_link">
                        <a class="nav-link" href="#school" role="button" title="Become Partner">
                    School
                </a>
                    </li>

                    <li class="nav-item tech_stack_link">
                        <a class="nav-link" href="#How_it_works" role="button" title="Tech Stack">
                    How it works
                </a>
                    </li>

                    <li class="nav-item faq_link">
                        <a class="nav-link" href="#Offer " role="button" title="FAQs">
                    Offer 
                </a>
                    </li>

                    
                    <li class="nav-item faq_link">
                        <a class="nav-link" href="#Features " role="button" title="FAQs">
                    Features 
                </a>
                    </li>

                    <li class="nav-item about_link">
                        <a class="nav-link" href="/about" role="button" title="About Us">
                    About
                </a>
                    </li>

                    <li class="nav-item bogs_link">
                        <a class="nav-link" href="/blogs" role="button" title="Tech Stack">
                    Blogs 
                </a>
                    </li>


                    <li class="nav-item contact_link">
                        <a class="nav-link" href="#contact" role="button" title="Contact Us">
                    Contact
                </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
