
<section class="intregration_area app_screens bg_color sec_pad position-relative" id="parent">
    <ul class="memphis-parallax hidden-xs hidden-sm list-unstyled">
        <li data-parallax='{"x": -00, "y": 100}'><img class="br_shape" src="assets/img/line/f_l_01.png" alt="f_img">
        </li>
        <li data-parallax='{"x": 200, "y": 200}'><img class="br_shape" src="assets/img/line/f_l_02.png" alt="f_img">
        </li>
        <li data-parallax='{"x": 150, "y": 150}'><img class="br_shape" src="assets/img/line/f_l_03.png" alt="f_img">
        </li>
        <li data-parallax='{"x": 50, "y": 50}'><img class="br_shape" src="assets/img/line/f_l_05.png" alt="f_img">
        </li>
        <li data-parallax='{"x": 150, "y": 150}'><img src="assets/img/line/f_l_06.png" alt="f_img"></li>
        <li data-parallax='{"x": 100, "y": 100}'><img src="assets/img/line/f_l_07.png" alt="f_img"></li>
        <li data-parallax='{"x": 50, "y": 50}'><img src="assets/img/line/f_l_08.png" alt="f_img"></li>
        <li data-parallax='{"y": 250}'><img src="assets/img/line/f_l_09.png" alt="f_img"></li>
        <li data-parallax='{"x": 250, "y": 250}'><img src="assets/img/line/f_l_10.png" alt="f_img"></li>
        <li data-parallax='{"x": 150, "y": 150}'><img class="br_shape" src="assets/img/line/f_l_04.png" alt="f_img">
        </li>
    </ul>
    <div class="container px-0">
        <div class="row no-gutters align-items-start">
            <div class="col-12 col-md-4 pb-4 pb-md-0">
                <div class="intregration_content px-0 ">
                    <h2 class="wow fadeInUp" data-wow-delay="0.1s"> Parent </h2>
                    <p class="wow fadeInUp" data-wow-delay="0.12s">
                        Navischool offre une application parent pratique et efficace qui permet aux parents de suivre en temps réel les déplacements de leurs enfants, de trouver des services de proximité utiles et d'accéder à un annuaire complet des écoles. Grâce à ces fonctionnalités, 
                        les parents peuvent se sentir plus en confiance et mieux informés lorsqu'ils confient leurs enfants au transport scolaire.
                    </p>

                    <div class="slider-button w-100">
                        <div id="user-app" class="row w-100">
                            <div class="col-12 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                                <a class="slider_btn btn_six active" href="#user_zero" title="Children list">
                                    <span>Suivi en temps réel</span>
                                </a>
                            </div>
                            <div class="col-12 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                                <a class="slider_btn btn_six" href="#user_one" title="Live Status">
                                    <span>Service de proximité</span>
                                </a>
                            </div>
                            <div class="col-12 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                                <a class="slider_btn btn_six" href="#user_two" title="Map view">
                                    <span>Annuaire des écoles</span>
                                </a>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-8 pl-lg-5">
                <div class="slider_box wow fadeInRight" data-wow-delay="0.1s">
                    <div class="frame">
                        <img src="assets/img/app-info/Frame.png" class="img-fluid">
                    </div>
                    <div class="owl-carousel owl-carousel1 owl-theme">
                        <div class="item" data-hash="user_zero">
                            <div class="img_box">
                                <img src="assets/img/app-info/bus_tracking/screenshots/user/1.png" alt="Delivoo User App Verbose Techlabs">
                            </div>
                        </div>
                        <div class="item" data-hash="user_one">
                            <div class="img_box">
                                <img src="assets/img/app-info/bus_tracking/screenshots/user/3.png" alt="Delivoo User App Verbose Techlabs ">
                            </div>
                        </div>
                        <div class="item" data-hash="user_two">
                            <div class="img_box">
                                <img src="assets/img/app-info/bus_tracking/screenshots/user/2.png" alt="Delivoo User App Verbose Techlabs">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>